@model IEnumerable<BlogMvcApp.Models.BlogModel>
@{
    ViewBag.Title = "Index";
}

@if (User.Identity.IsAuthenticated)
{

    <label class="label label-info" >
        
        @User.Identity.Name
    </label>

    <h2>Blog Listesi</h2>
        
    <hr />
    @Html.Partial("BlogListesi", Model)

    @section SagKolon
{
        @Html.Partial("Search")
        @{Html.RenderAction("KategoriListesi", "Category"); }
    }


}
else
{
    <a href="/Account/Login" class="btn btn-primary">Giriş yap</a>
    <a href="/Account/Register" class="btn btn-success">Kaydet beni yaa</a>

}


